.herosectionMainContainer {
    height: 800px;
    width: 100%;
    font-family: 'Actor';
}

@media screen and (max-width: 500px) {
    .herosectionMainContainer {
        height: 1000px;
        width: 100%;
        font-family: 'Actor';
    }
}

.herosectionHeading {
    letter-spacing: 0.2px;
}

.herosectionParagraph {
    width: 80%;
    letter-spacing: 0.2px;
}

.herosection-btn {
    letter-spacing: 0.2px;
}

.HerosectionToggelBtn1 .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.HerosectionToggelBtn1 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.HerosectionToggelBtn1 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.HerosectionToggelBtn1 .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.HerosectionToggelBtn1 input:checked+.slider {
    background-color: #2196F3;
}

.HerosectionToggelBtn1 input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.HerosectionToggelBtn1 input:checked+.slider:before {
    transform: translateX(22px);
}

.HerosectionToggelBtn1 .slider.round {
    border-radius: 34px;
}

.HerosectionToggelBtn1 .slider.round:before {
    border-radius: 50%;
}


/* modules.css */

.HerosectionToggelBtn2 .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.HerosectionToggelBtn2 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.HerosectionToggelBtn2 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.HerosectionToggelBtn2 .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.HerosectionToggelBtn2 input:checked+.slider {
    background-color: #2196F3;
}

.HerosectionToggelBtn2 input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.HerosectionToggelBtn2 input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(22px);
}

.HerosectionToggelBtn2 .slider.round {
    border-radius: 34px;
}

.HerosectionToggelBtn2 .slider.round:before {
    border-radius: 50%;
}