 .Border {
     background: #686868;
     width: 250px;
     height: 1px;
 }
 
 .swiper-pagination {
     display: block;
 }
 
 @media (max-width: 1024px) {
     .Border {
         background: #D12D2D;
         width: 105.333px;
         height: 5px;
     }
 }
 
 @media (min-width: 1024px) {
     .swiper-pagination {
         display: none;
     }
 }
 
 .swiper-pagination {
     margin-bottom: -40px!important;
 }
 
 .swiper-button-next:after,
 .swiper-button-prev:after {
     font-size: 30px;
 }
 
 .swiper-button-next.swiper-button-disabled,
 .swiper-button-prev.swiper-button-disabled {
     opacity: 0;
 }
 
 .swiper-pagination-bullet-active {
     background-color: #000000 !important;
 }
 
 .swiper-pagination-bullet {
     background-color: #000000;
 }
 
 .sample-slider {
     --add-bottom: 50px;
     padding-bottom: var(--add-bottom);
 }
 
 .sample-slider [class^="swiper-button-"] {
     top: calc(50% - var(--add-bottom) / 2);
 }